.Whatwedo-container {
    padding: 60px 0px;
  
    .Whatwedo-list {
      display: flex;
      flex-direction: column;
      gap: 20px; // Abstand zwischen den Karten
    }
  
    .Whatwedo-card {
      background: #4B5763;
      border-radius: 12px;
      padding: 30px 66px;
      width: 70%;
      margin: auto;
      display: flex;
      flex-direction: column;
      opacity: 1; /* Setze auf 1, um die Karten sofort sichtbar zu machen */
      transition: transform 0.3s ease-out; /* Optional: smooth swipe effect */
      min-height: 200px; /* Sicherstellen, dass die Karten eine Mindesthöhe haben */
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    
    }
    .Whatwedo-card.show {
      opacity: 1;
      transform: translateY(0);
    }
    .Whatwedo-badge {
      background: transparent;
      color: white;
      padding: 3px 10px;
      border-radius: 999px;
      font-size: var(--font-size-default);
      display: inline-block;
      margin-bottom: 0px;
      border: 1px solid #E7E7E7;
      font-weight: 450;
    }
  
    .Whatwedo-header {
      margin-bottom: 40px;
      text-align: center;
  
      h1, h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 10px;
        color: var(--e-global-color-text);
        width: 60%;
        margin: auto;
  
        span {
          color: var(--e-global-color-primary);
        }
      }
  
      p {
        color: #6b7280;
        font-size: 18px;
        line-height: 1.6;
        width: 40%;
        margin: auto;
      }
    }
  
    .Whatwedo-content {
      display: flex;
      justify-content: space-between; /* Positionierung von Text und Bild */
      align-items: center;
  
      .text {
        flex: 2;
        min-width: 50%;
        color: white;
  
        h2 {
          font-size: 30px;
        }
  
        p {
          font-size: 18px;
          font-weight: 300;
          margin-top: 12px;
          line-height: 1.8;
          width: 60%;
          display: block;
          text-align: left;
        }
      }
  
      .image {
        width: 110%; /* Stellt sicher, dass der Container die gesamte Breite einnimmt */
        
        img {
          width: 130%; /* Vergrößert das Bild über den Container hinaus */
          max-width: 115%; /* Bild soll nie über die Container-Breite hinausgehen */
          height: auto; /* Verhindert Verzerrung des Bildes */
          object-fit: contain; /* Stellt sicher, dass das Bild im Container bleibt */
          border-radius: 8px;
          margin-left: -10%;
        }
      }
    }
  }
      @media (max-width: 768px) {

        .Whatwedo-header {
      
          h1,h2 {
            width: 100% ;
            font-size: 35px !important;
          }
      
          p {
              width: 98% !important;
           }
        }
        }
        .Whatwedo-Button{
            background-color: white;
            padding: 17px 27px !important;
            border: none;
            border-radius: 40px;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: background-color 0.3s;
            :hover{
                color: var(--e-global-color-primary);
            }
          }




@media (max-width: 1025px) {


    .Whatwedo-card {
        padding: 10px 40px ;
        min-width: 100%;
        max-width: 160%;
        
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative ;
    }


    
}

@media (max-width: 768px) {
  .Whatwedo-content {
      flex-direction: column;
      gap: 30px;
      width: 100%;

      .text {
        p{
          width: 100% !important;
        }
      }
      .image {
          width: 100%;
          display: flex;
          justify-content: center; /* Zentriert das Bild */
          margin: 0 auto; /* Stellt sicher, dass das Bild innerhalb des Containers bleibt */
      }

      .image img {
          width: 105% !important; /* Verhindert, dass es zu breit wird */
          max-width: 400px; /* Optionale Begrenzung der Bildgröße */
          height: auto;
          object-fit: contain;
      }
  }
}


@media (max-width: 1200px) {
  .Whatwedo-container {
      padding: 50px 20px;
  }


  .image img {
      display: block !important; /* Falls es unsichtbar ist */
  }
}
